.DS_Store
.build/
.swiftpm/
DerivedData/
build/share-ui/
*.xcuserstate
xcuserdata/
*.xcodeproj/

Config/Signing.local.xcconfig
Packages/EmulatorKit/Sources/SameBoyAdapter/Resources/BootROMs/*.bin
__pycache__/
